{% extends 'layouts/user.html' %}

{% block body %}
<div class="container-fluid text-center p-3 align-self-center">
    <div class="container row">
        <div class="col-5 d-flex align-content-center justify-content-center align-items-center">
            <div class="lh-1 shadow-sm p-5 rounded-3 bg-light">
                <img src="/static/img/user.png" alt="profile">
                <h3 class="lh-1 mt-3">Keith Brian Nedia</h3>
                <p class="lh-1">20003233300</p>
                <p class="lh-1">BSCS-4</p>
            </div>
        </div>
        <div class="col-7 p-2">
            <h1 class="display-4 fw-bold">STUDENT DIGITAL LIBRARY CARD</h1>
            <div class="shadow-sm p-2 rounded">

                <div class="d-flex gap-2 justify-content-start align-content-centerx align-items-center mt-4">
                    <div class="fw-bolder fs-5">
                        Transaction:
                    </div>
                    <div class="card d-flex align-content-center justify-content-center p-2 rounded-5 text-white" style="background-color: #A2A2A2;">
                        Borrowed
                    </div>
                    <div class="card d-flex align-content-center justify-content-center p-2 rounded-5 text-white" style="background-color: #213EEF;">
                        Returned
                    </div>
                    <div class="card d-flex align-content-center justify-content-center p-2 rounded-5 text-white" style="background-color: #B2342F;">
                        Overdue
                    </div>
                </div>
    
                <div class="table-responsive">
                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Book Name</th>
                                <th scope="col">Transaction Type</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>Sample Book</td>
                                <td>Overdue</td>
                                <td>12/12/24</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2 mt-3">
            <button class="btn btn-dark btn-sm rounded-5">Scan Book</button>
            <button class="btn btn-primary rounded-5">Save</button>
        </div>
    </div>

</div>
{% endblock %}