{% extends 'layouts/scanqr.html' %}

{% block body %}
<div class="container p-5" style="height: 100vh;">
    <!-- <div class="d-flex justify-content-center flex-column"> -->
        <div class="d-flex justify-content-center mb-5">
            <div class="card">
                <h1>What would you like to do?</h1>
            </div>
        </div>

        <div class="h-100 d-flex flex-column justify-content-center gap-5">
            <button class="btn btn-primary h-25" type="button">Borrow</button>
            <button class="btn btn-primary h-25" type="button">Borrow</button>
        </div>
    <!-- </div> -->
</div>
{% endblock %}